.container{
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.top {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.buttom{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.buttom p{
    font-style: italic;
}