.container{
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.subcontainer{
    
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.description{
    display: flex;
    flex-direction: column;
}
.description h1{
    font-size: 80px;
    font-weight: bold;
}
