.container{
    background-color: var(--bgSoft);
    display:flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: x-large;
    font-weight: 500;
    margin-left: 50px;
}
.subcontainer{
    align-items: center;
    display: flex;
    margin-right: 50px;
}
/* .subcontainer button{
    border-radius: 10px;
    background-color: blue;
    border: none;
    height: 40px;
    width: 120px;
    font-weight:500;
    font-size: medium;
} */